<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="genSqlFilePath" value="$PROJECT_DIR$/auth/src/main/java/com/lx/auth/entity" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="com.lx.auth.dao" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/auth/src/main/java" />
        <option name="javaModelPackage" value="com.lx.auth.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/auth/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="auth" />
        <option name="mapperAnnotaion" value="true" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="auth">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.lx.auth.dao" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/auth/src/main/java" />
                  <option name="javaModelPacakge" value="com.lx.auth.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/auth/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="com.lx.auth.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/auth/src/main/java" />
                  <option name="javaServicePackage" value="com.lx.auth.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/auth/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/auth/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="oauth2:sys_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysUser" />
                  <option name="moduleName" value="auth" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="oauth2:tb_content">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbContent" />
                  <option name="moduleName" value="auth" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="oauth2:tb_permission">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbPermission" />
                  <option name="moduleName" value="auth" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="oauth2:tb_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="TbUser" />
                  <option name="moduleName" value="auth" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useCommonMapper" value="true" />
        <option name="useLomBokOnModel" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/auth/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>